@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 200px max(100%, 600px);
}

p {
    color:blue;
}

ul {
    list-style: none;
}

li {
    margin: 8px;
    vertical-align: bottom;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #498cbf;
    padding: 10px;
}

.sidebar > div {
    font-family: Roboto, Times, serif;
    font-weight: bold;
    color: white;
}

.sidebar-list > ul > li > img {
    width: 25px;
    height: auto;
    margin-right: 15px;
    /* Align text and image */
    vertical-align: bottom;
}

.logo {
    font-size: 24px;
}


.header {
    /* Position relative makes it so that I can put this "on top" of main-content to display the shadow.*/
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main-content {
    /* border: 1px solid green; */
    position: relative;
    z-index: 1;
    background-color: #d1d8de;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.heading-text {
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto, Times, serif;
}